@charset "utf-8";
/*
---
name: form
category:
  - object
  - object/project/form
---

フォーム関連

*/

.p-form-group {
  @extend .form-group !optional;
}

.p-form-control {
  @extend .form-control !optional;
}

.p-textarea--source {
  @extend .form-control !optional;
  min-height: 3rem;
  margin-bottom: 1rem;
}

.p-textarea--result {
  @extend .form-control !optional;
  margin-bottom: 1rem;
}