@charset "utf-8";
/*
---
name: heading
category:
  - object
  - object/project/heading
---

タイトル

*/

.p-heading--share {
  font-weight: bold;
}

.p-heading--result {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.p-heading--option {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}