@charset "utf-8";
/*
---
name: accordion
category:
  - object
  - object/component/accordion
---

CSSだけでアコーディオン

*/

.c-accordion__button {

}

.c-accordion__body {
  display: none;
}