@charset "utf-8";
/*
---
name: accordion
category:
  - object
  - object/component/accordion
---

CSSだけでアコーディオン

*/

.c-accordion__checkbox {
  display: none;
  &:checked {
    & ~ .c-accordion__body {
      max-height: 100vh;
      opacity: 1;
    }
  }
}
.c-accordion__button {

}

.c-accordion__body {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
  overflow-y: auto;
}

